[package]
name = "minecraft"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1.49.0", features = ["full"] }
uuid = { version = "1.20.0", features = ["v4"] }
minecraft-macros = { path = "../minecraft-macros" }
